[build]
builder = "nixpacks"

[[services]]
name = "backend"
root = "backend"
# Deploy Config
startCommand = "npm run start:prod"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "frontend"
root = "frontend"
# Build Config
buildCommand = "npm run build"
# Deploy Config
startCommand = "npm run preview -- --host --port $PORT"
