[build]
builder = "nixpacks"

[deploy]
startCommand = "npm run start:prod"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "backend"
root = "backend"

[[services]]
name = "frontend"
root = "frontend"
[services.build]
builder = "nixpacks"
buildCommand = "npm run build"
[services.deploy]
startCommand = "npm run preview -- --host --port $PORT"
